<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Messages</title>
  </head>
  <body>
    <h1>Messages</h1>
    <a href="/new-message">New message</a>
    <br />
    <% if (Array.isArray(locals.messages)) { %>
    <ul>
      <li>
        <% messages.forEach(message => { %>
        <ul>
          <% if (message.created) { %>
          <li><%= message.created %></li>
          <% } %> <% if (message.firstname) { %>
          <li><%= message.firstname %> <%= message.lastname %></li>
          <% } %>
          <li><h3><%= message.title %></h3></li>
          <li><p><%= message.text %></p></li>
        </ul>
        <% }) %>
      </li>
    </ul>
    <% } %>

    <a href="/logout">Logout</a>
    <a href="/join-club">Join the club!</a>
  </body>
</html>
